@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    position: relative; /* Allows positioning of child elements */
    background-color: #1d262a;
    width: auto;
    font-family: "Press Start 2P", system-ui;
  }

  .box{
    display: left;
    justify-content: left;
    align-items: left;
    height: 100vh; /* Full viewport height */
    position: absolute; /* Allows positioning of child elements */
    top: 0;
    left: 0;
    background: rgba(61, 115, 122, 0.5);
    width: 40vh;
    border-top-right-radius: 3cap;
    border-bottom-right-radius: 3cap;
  }

  .q1{
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #FFFC9A;
    width: 35vh;
    height: 7vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .q1 p{
    margin-top: 20px;
    text-align: right;
    margin-right: 40px;
    color: black;
  }

  .q2{
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: #FFFC9A;
    width: 35vh;
    height: 7vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .q2 p{
    margin-top: 20px;
    text-align: right;
    margin-right: 40px;
    color: black;
  }

  .sparkle1{
    position:absolute;
    top: 30%;
    left: 80%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate;
  }

  .sparkle2{
    position:absolute;
    top: 10%;
    left: 70%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate;
  }

  .sparkle3{
    position:absolute;
    top: 0%;
    left: 30%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate;
  }

  .sparkle4{
    position:absolute;
    top: 50%;
    left: 30%;    
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate;
  }

  .sparkle5{
    position:absolute;
    top: 70%;
    left: 24%;
    color: rgba(255, 255, 255, 0.5);    
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate;
  }

  .sparkle6{
    position:absolute;
    top: 90%;
    left: 90%;    
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    animation: sparkleAnimation 1.5s infinite alternate; 
  } 

  @keyframes sparkleAnimation {
    0% {
      opacity: 0.2;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.5);
    }
    100% {
      opacity: 0.2;
      transform: scale(1);
    }
  }

  .profileImage{
    position: absolute;
    top: 55em;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px;
  }

  .logOut{
    position: absolute;
    top: 94.5%;
    left: 15em;
    object-fit: cover;
    color: aliceblue;
  }