@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.wrapper {
  margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101vh; /* Full viewport height */
    position: relative; /* Allows positioning of child elements */
    width: auto;
    font-family: "Press Start 2P", system-ui;
  }

  .side_panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Full viewport height */
    position: absolute; /* Allows positioning of child elements */
    top: 0;
    left: 0;
    background: rgba(61, 115, 122, 0.9);
    width: 40vh;
    border-top-right-radius: 3cap;
    border-bottom-right-radius: 3cap;
    padding-top:50px;
    padding-bottom:20px;
  }

  .q {
    height: 100%;
  }

  .q1, .q2{
    margin-top: 10%;
    background-color: #FFFC9A;
    width: 35vh;
    height: 7vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }

  .q1 p, .q2 p{
    font-size: 13px;
    padding-top: 19px;
    padding-left: 50px;
    text-align: left;
    color: black;
    clip-path: inset(0 20px 0 0);

  }
  
  .user{
    padding:0 5% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user p {
    font-size: 16px;
    color: #ffffff;
  }

  .user img {
    width: 40px;
    height: 40px;
  }

  .profileImage{
    
  }

  .logOut{
   
  }